*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
}

*:focus {
	outline: none;
	//FIXME box-shadow: 0 0 0 0.8rem $color-primary;
}

::selection {
	//background-color: FIXME $color-primary;
	//color: FIXME $color-white;
}

.list {
	list-style: none;
	display: flex;
}

.btn {
	border: none;
	background: none;
	outline: none;
	color: inherit;
	cursor: pointer;
}

::selection {
	background-color: $color-primary;
	color: $color-secondary;
	font-weight: var(--bold-text-we);
}
