*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	overflow-x: hidden;
	font-size: 62.5%;

	@include respond(small-desktop) {
		font-size: 56.25%;
	}

	@include respond(small-tablet) {
		font-size: 50%;
	}
	@include respond(small-phone) {
		font-size: 43.75%;
	}
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
}

*:focus {
	outline: none;
	//FIXME box-shadow: 0 0 0 0.8rem $color-primary;
}

::selection {
	//background-color: FIXME $color-primary;
	//color: FIXME $color-white;
}

.list {
	list-style: none;
	display: flex;
}

.btn {
	border: none;
	background: none;
	outline: none;
	color: inherit;
	cursor: pointer;
}

::selection {
	background-color: $color-primary;
	color: $color-black;
	font-weight: var(--bold-text-we);
}

%border-gradient {
	position: absolute;
	left: -2px;
	top: -2px;
	background: linear-gradient(
			to right,
			#ffcc00,
			#ffcd19,
			#ffce33,
			#ffcf4c,
			#ffd066,
			#ffd17f,
			#ffd299,
			#ffd59e,
			#ffdeb3,
			#ffa500
		)
		0 0 / 400% 100%;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: BGgradient 16s linear infinite;
}
