// FUENTES
/*
@font-face {
	font-family: 'x';
	src: url('/src/media/fonts/x');
	font-weight: $normal-text-we;
	font-style: normal;
}

*/
// FUENTES
@font-face {
	font-family: 'Montserrat';
	src: url('../media/fonts/Montserrat-Bold.woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../media/fonts/Montserrat-Light.woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../media/fonts/Montserrat-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../media/fonts/Montserrat-ExtraBold.woff2');
	font-weight: 800;
	font-style: normal;
}

body {
	font-family: 'Montserrat';
	line-height: 1;
	color: var(--layout-color-primary-extra-light);
}

.link {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.primary-heading {
	font-size: var(--huge-text-fz);
	line-height: 1.2;
	font-weight: var(--bold-text-we);
}

.secondary-heading {
	font-size: var(--big-text-fz);
	font-weight: var(--tiny-text-we);
}

.tertiary-heading {
	font-size: var(--medium-text-fz);
	font-weight: var(--normal-text-we);
	letter-spacing: 1.75px;
	text-transform: uppercase;
}
