// FUENTES
/*
@font-face {
	font-family: 'x';
	src: url('/src/media/fonts/x');
	font-weight: $normal-text-we;
	font-style: normal;
}

*/
// FUENTES
@font-face {
	font-family: 'Montserrat';
	src: url('../media/fonts/Montserrat-Bold.woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../media/fonts/Montserrat-Light.woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../media/fonts/Montserrat-Regular.woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../media/fonts/Montserrat-ExtraBold.woff2');
	font-weight: 800;
	font-style: normal;
}

body {
	font-family: 'Montserrat';
	line-height: 1;
	color: var(--color-white);
}

.link {
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.primary-heading {
	font-size: var(--huge-text-fz);
	line-height: 1.2;
	font-weight: var(--bold-text-we);
	color: transparent;

	background: linear-gradient(
			to right,
			#ffcc00,
			#ffcd19,
			#ffce33,
			#ffcf4c,
			#ffd066,
			#ffd17f,
			#ffd299,
			#ffd3b2,
			#ffd4cc,
			#ffd5e5,
			#ffa500
		)
		0 0 / 400% 100%;
	background-clip: text;
	-webkit-background-clip: text;
	animation: BGgradient 16s linear infinite;
}

.secondary-heading {
	font-size: var(--big-text-fz);
	font-weight: var(--tiny-text-we);

	@include respond(small-phone) {
		margin-top: 1.6rem;
	}
}

.tertiary-heading {
	font-size: var(--big-text-fz);
	font-weight: var(--normal-text-we);
	letter-spacing: 1.75px;
	text-transform: uppercase;
	@include respond(phone) {
		font-weight: var(--big-text-we);
	}
}
