/**************************/
/* MARGIN */
/**************************/

.mg-b--st {
	margin-bottom: 1.6rem !important;
}

.mg-b--s {
	margin-bottom: 2.4rem !important;
}

.mg-b--m {
	margin-bottom: 3.2rem !important;
}

.mg-b--l {
	margin-bottom: 4.8rem !important;
}

.mg-b--h {
	margin-bottom: 6.4rem !important;
}

/**************************/
/* LAYOUT */
/**************************/
