/**************************/
/* HEADER SECTION */
/**************************/

.header {
	padding: 2.4rem 4.8rem;
	background-color: #212529;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	height: 8rem;
	width: 8rem;
}

.link--cta:link,
.link--cta:visited {
	color: #212529;
	background-color: #ffe817;
	padding: 1.6rem 3.2rem;
	text-transform: uppercase;
	border-radius: 3px;
}

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
	padding: 4.8rem 4.8rem 1.6rem;
	background-image: linear-gradient(
			to right bottom,
			rgba(33, 37, 41, 0.8),
			rgba(33, 37, 41, 0.8)
		),
		url(../media/fotos/tierravegetal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 3.2rem;
}

.section-hero-container {
	max-width: 120rem;
	margin: 0 auto;
}

.hero-heading-sec {
	display: block;
	color: #ffe817;
	font-size: 3.6rem;
	margin-bottom: 1.6rem;
}

.primary-heading {
	font-size: 5.2rem;
	color: #fffde8;
	margin-bottom: 4.8rem;
}

/**************************/
/* PRODUCTS PREVIEW */

.hero-products-preview {
	gap: 2.4rem;
	margin-bottom: 4.8rem;
}

/**************************/
/* PRODUCTS */

.hero-products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	column-gap: 1.6rem;
}
.hero-products-title {
	font-size: 2.4rem;
	letter-spacing: 2px;
	color: #fff6a2;
	margin-bottom: 1.6rem;
	grid-column: 1 / -1;
	padding-bottom: 7px;
	border-bottom: 2px solid #fff6a2;
}

.product-link {
	position: absolute;
	height: 100%;
	width: 100%;
	color: inherit;
}

.hero-products-img-box {
	position: relative;
	height: 200px;
	overflow: hidden;
}

.hero-product-image {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	opacity: 0.8;
	transition: all 0.3s;
}
.hero-product-image:hover {
	opacity: 1;
	transform: scale(1.2);
}
.hero-product-desc {
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

/**************************/
/* SERVICES */

.hero-services {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 1.6rem;
	margin-bottom: 3.2rem;
}

.service-icon {
	height: 80px;
	border-radius: 50%;
	padding: 1rem;
}

.hero-service-desc {
	font-size: 2.4rem;
}

/**************************/
/* CTA */

.link--cta-hero:link,
.link--cta-hero:visited {
	display: inline-block;
	font-size: 3.2rem;
	align-self: flex-start;
}

/**************************/
/* PRODUCTS SECTION */
/**************************/

.section-products {
	padding: 4.8rem 4.8rem;
}

.section-title {
	padding-left: 4.8rem;
}

.section-products-desc {
	font-size: 4.4rem;
}

.products {
	margin-top: 9.6rem;
}
.products-tab-container {
	display: flex;
	justify-content: center;
	padding: 0 4.8rem;
	background-color: #212529;
	transform: translateY(2px);
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	gap: 1.6rem;
}
.btn {
	width: 150px;
	display: inline-block;
	font-weight: 500;
	border: none;
	padding: 1.6rem 3.2rem;
	cursor: pointer;
	background-color: #ffe817;
	border-radius: 5px;
	width: 100%;
}

.btn span {
	color: #212529;
}
.products-tab {
	transform: translateY(-55%);
}

.products-tab--active {
	transform: translateY(-66%);
	background-color: #fffde8;
}

.products-content {
	padding: 1.6rem 4.8rem;
	display: none;
	background-color: #212529;
	border-radius: 5px;
}

.products-content--active {
	display: block;
}

.products-content--1 table {
	width: 100%;
	border-collapse: collapse;
	font-size: 2rem;
	background-image: linear-gradient(
			to right bottom,
			rgba(33, 37, 41, 0.8),
			rgba(33, 37, 41, 0.8)
		),
		url(../media/fotos/tierravegetal.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-bottom: 1.6rem;
}

.products-content--1 th,
.products-content--1 td {
	padding: 1.6rem 2.4rem;
	text-align: left;
}

.products-content--1 th {
	text-transform: uppercase;
}

.products-content--1 thead th {
	background-color: rgba(255, 255, 255, 0.9);
	color: #212529;
	width: 25%;
}

.products-content--1 tbody tr:nth-child(odd) {
	background-color: rgba(33, 37, 41, 0.6);
}

.products-content--1 tbody tr:nth-child(even) {
	background-color: rgba(55, 59, 62, 0.6);
}

.slider-container {
	margin-bottom: 1.6rem;
	height: 100%;
}

.products-galery-slider {
	position: relative;
	overflow: hidden;
	height: 25rem;
	display: flex;
	height: 200px;
}

.slide {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 1.6rem;
	row-gap: 1.6rem;
	position: absolute;
	top: 0;
	width: 100%;
	transition: transform 1s;
}

.galery-img-box {
	position: relative;
	overflow: hidden;
	height: 200px;
}
.galery-img {
	height: 100%;
	width: 100%;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s;
}

.galery-text {
	left: -100%;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

.galery-img-box:hover .galery-text {
	transform: translate(100%, -50%);
	opacity: 1;
}

.galery-img:hover {
	transform: scale(1.2);
}

.slider-icon {
	height: 3.2rem;
}

.products-cta {
	display: inline-block;
	font-size: 2rem;
	color: #ffe817;
	padding-bottom: 1.6rem;
}

/**************************/
/* SERVICES SECTION */
/**************************/
.section-services {
	padding: 9.6rem 4.8rem;
}

.services-tab-container {
	display: flex;
	gap: 1.6rem;
	flex-direction: column;
	background: #212529;
	padding: 1.6rem 4.8rem;
	border-radius: 5px;
	padding-bottom: 55rem;
}

.content-holder {
	position: relative;
}

.btn-service {
	height: 10rem;
	width: 100%;
	display: grid;
	grid-template-columns: auto 1fr auto;
	column-gap: 1.6rem;
	align-items: center;
	text-align: left;
	font-size: 3.2rem;
	border: none;
	background: none;
	color: #fffde8;
	cursor: pointer;
	transition: all 0.3s;
}

.btn-service:not(.btn-service--last) {
	padding-bottom: 1.6rem;
	border-bottom: 2px solid #fffde8;
}

.service-icon {
	display: inline-block;
	align-self: center;
	transition: all 0.3s;
}

.services-content {
	position: absolute;
	top: 105%;
	left: 0;
	display: none;
	grid-template-columns: 3fr auto;
	font-size: 2rem;
	height: 250px;
	width: 100%;
}

.services-tab--active {
}

.services-content--active {
	display: grid;
}

.services-content--active {
}

.service-icon--active {
	transform: rotate(180deg);
}

.service-desc {
}
.service-img {
}
