/*
-Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 156
*/
:root {
  --color-black: #161a30;
  --color-white: #f0ece5;
  --row: calc(8vw + 1.6rem);
  --color-primary-darkest: xxx;
  --color-primary-dark: xxx;
  --color-primary: #ffcc00;
  --color-primary-light: xxx;
  --color-secondary-dark: xxx;
  --color-secondary: xxx;
  --color-secondary-light: xxx;
  --color-secondary-extra-light: xxx;
  --color-secondary-lightest: xxx;
  --layout-color-primary: xxx;
  --layout-color-primary-dark: xxx;
  --layout-color-primary: xxx;
  --layout-color-primary-light: xxx;
  --layout-color-primary-extra-light: xxx;
  --color-grey-dark: x;
  --color-grey-light: x;
  --border-radius-small: 3px;
  --border-radius-medium: 5px;
  --border-radius-big: 9px;
  --border-radius-bigest: 15px;
  --border-radius-huge: 20px;
  --smallest-text-fz: 1.2rem;
  --small-text-fz: 1.8rem;
  --normal-text-fz: 2.2rem;
  --medium-text-fz: 2.6rem;
  --intermedium-text-fz: 3rem;
  --big-text-fz: 3.4rem;
  --bigest-text-fz: 4rem;
  --huge-text-fz: 7vw;
  --tiny-text-we: 300;
  --normal-text-we: normal;
  --bold-text-we: 600;
  --extra-bold-text-we: 800;
  --section-spacing: 2.4rem; }

@media only screen and (max-width: 1084px) {
  :root {
    --section-spacing: 2rem; } }

@media only screen and (max-width: 740px) {
  :root {
    --section-spacing: 1.6rem;
    --huge-text-fz: 4.8rem; } }

@media only screen and (max-width: 464px) {
  :root {
    --section-spacing: 0;
    --huge-text-fz: 4rem; } }

/*

$opciones de argumentos
- small-tablet
- tablet
- big-tablet
- small-desktop
- desktop
- big-desktop

*/
@keyframes ctaRight {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(0.8rem); }
  100% {
    transform: translateX(0); } }

@keyframes dblRowDown {
  0% {
    transform: translate(-50%, 50%); }
  75% {
    transform: translate(-50%, 55%); }
  100% {
    transform: translate(-50%, 50%); } }

@keyframes dblRowDownHover {
  0% {
    transform: translate(-50%, 50%); }
  100% { } }

@keyframes BGgradient {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 400% 0; }
  100% {
    background-position: 0 0; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  overflow-x: hidden;
  font-size: 62.5%; }
  @media only screen and (max-width: 29em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

*:focus {
  outline: none; }

.list {
  list-style: none;
  display: flex; }

.btn {
  border: none;
  background: none;
  outline: none;
  color: inherit;
  cursor: pointer; }

::selection {
  background-color: #ffcc00;
  color: #161a30;
  font-weight: var(--bold-text-we); }

.hero__services::after, .hero__products::after {
  position: absolute;
  left: -2px;
  top: -2px;
  background: linear-gradient(to right, #ffcc00, #ffcd19, #ffce33, #ffcf4c, #ffd066, #ffd17f, #ffd299, #ffd59e, #ffdeb3, #ffa500) 0 0/400% 100%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: BGgradient 16s linear infinite; }

/*
@font-face {
	font-family: 'x';
	src: url('/src/media/fonts/x');
	font-weight: $normal-text-we;
	font-style: normal;
}

*/
@font-face {
  font-family: 'Montserrat';
  src: url("../media/fonts/Montserrat-Bold.woff2");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../media/fonts/Montserrat-Light.woff2");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../media/fonts/Montserrat-Regular.woff2");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat';
  src: url("../media/fonts/Montserrat-ExtraBold.woff2");
  font-weight: 800;
  font-style: normal; }

body {
  font-family: 'Montserrat';
  line-height: 1;
  color: var(--color-white); }

.link {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

.primary-heading {
  font-size: var(--huge-text-fz);
  line-height: 1.2;
  font-weight: var(--bold-text-we);
  color: transparent;
  background: linear-gradient(to right, #ffcc00, #ffcd19, #ffce33, #ffcf4c, #ffd066, #ffd17f, #ffd299, #ffd3b2, #ffd4cc, #ffd5e5, #ffa500) 0 0/400% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  animation: BGgradient 16s linear infinite; }

.secondary-heading {
  font-size: var(--big-text-fz);
  font-weight: var(--tiny-text-we); }
  @media only screen and (max-width: 29em) {
    .secondary-heading {
      margin-top: 1.6rem; } }

.tertiary-heading {
  font-size: var(--big-text-fz);
  font-weight: var(--normal-text-we);
  letter-spacing: 1.75px;
  text-transform: uppercase; }
  @media only screen and (max-width: 37em) {
    .tertiary-heading {
      font-weight: var(--big-text-we); } }

/**************************/
/* MARGIN */
/**************************/
.mg-b--st {
  margin-bottom: 1.6rem !important; }

.mg-b--s {
  margin-bottom: 2.4rem !important; }

.mg-b--m {
  margin-bottom: 3.2rem !important; }

.mg-b--l {
  margin-bottom: 4.8rem !important; }

.mg-b--h {
  margin-bottom: 6.4rem !important; }

/**************************/
/* LAYOUT */
/**************************/
@media only screen and (max-width: 46.25em) {
  .nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffcc00;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s; } }

.nav__list {
  height: 4.8rem;
  align-items: center;
  gap: 1.6rem; }
  @media only screen and (max-width: 46.25em) {
    .nav__list {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffcc00;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: all 0.3s; } }

.nav__item {
  transition: all 0.2s;
  padding: 0.5rem;
  cursor: pointer; }
  @media only screen and (max-width: 46.25em) {
    .nav__item {
      width: 100%;
      display: flex;
      justify-content: center; } }
  .nav__item:hover {
    transform: translateY(-3px) scale(1.03); }
  .nav__item--cta:hover {
    transform: translateY(-3px) scale(1.03); }

.nav__link:link, .nav__link:visited {
  font-size: var(--medium-text-fz);
  color: inherit; }
  @media only screen and (max-width: 46.25em) {
    .nav__link:link, .nav__link:visited {
      font-size: 4.5vh;
      color: #161a30;
      padding: 3.2rem 4.8rem; } }

.nav__link--cta:link, .nav__link--cta:visited {
  position: relative;
  padding: 1rem 2rem;
  background-color: var(--color-primary);
  border-radius: var(--border-radius-small);
  color: var(--color-black);
  font-weight: var(--bold-text-we); }
  @media only screen and (max-width: 46.25em) {
    .nav__link--cta:link, .nav__link--cta:visited {
      background-color: #161a30;
      color: var(--color-primary);
      padding: 3.2rem 4.8rem;
      border-radius: var(--border-radius-big); } }

.nav__mobile {
  display: none;
  position: relative;
  width: 8.8rem;
  height: 8.8rem;
  padding: 4rem;
  cursor: pointer; }
  @media only screen and (max-width: 46.25em) {
    .nav__mobile {
      display: block; } }
  .nav__mobile-btn {
    position: absolute;
    top: 0;
    right: 0; }
    .nav__mobile-btn--close {
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      fill: #161a30; }

.nav-open .nav {
  opacity: 1;
  visibility: visible;
  pointer-events: initial; }

.nav-open .nav__list {
  opacity: 1;
  visibility: visible;
  pointer-events: initial; }

.nav-open .nav__mobile-btn--open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

.nav-open .nav__mobile-btn--close {
  opacity: 1;
  visibility: visible;
  pointer-events: initial; }

.service {
  padding: var(--section-spacing);
  padding-right: 0;
  display: grid;
  position: relative;
  background-color: #f0ece5;
  grid-template-columns: 3fr 25rem;
  grid-template-rows: [primary-content-start] min-content [primary-content-end secondary-content-start] min-content [secondary-content-end];
  align-items: center;
  column-gap: var(--section-spacing);
  font-size: var(--small-text-fz);
  z-index: 20;
  color: var(--color-black);
  border-radius: var(--border-radius-bigest); }
  @media only screen and (max-width: 55em) {
    .service {
      row-gap: 1.6rem;
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 37em) {
    .service {
      border-radius: 0;
      padding: 2.4rem; } }
  .service .tertiary-heading {
    font-weight: var(--extra-bold-text-we); }
  .service__text {
    display: grid;
    row-gap: 1.6rem;
    grid-template-rows: min-content min-content;
    font-weight: var(--bold-text-we); }
    @media only screen and (max-width: 37em) {
      .service__text {
        display: flex;
        flex-direction: column;
        grid-template-rows: min-content min-content; } }
  .service__desc {
    line-height: 1.5; }
  .service__img {
    padding: 1rem;
    height: 22rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c213b;
    transform: translateX(var(--section-spacing));
    border-radius: var(--border-radius-big);
    box-shadow: 0 1rem 2rem rgba(22, 26, 48, 0.2); }
    @media only screen and (max-width: 55em) {
      .service__img {
        width: 25rem;
        transform: translateX(0); } }
    .service__img img {
      width: 20rem;
      height: 20rem; }
  .service__cta {
    grid-row: secondary-content-start / secondary-content-start;
    grid-column: 1 / -1;
    align-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    grid-row: final-content-start / -1;
    color: #ffcc00;
    background-color: #161a30;
    padding: 1.6rem 3.2rem;
    justify-self: start;
    border-radius: 100px;
    transition: all 0.2s;
    box-shadow: 0 1rem 2rem rgba(22, 26, 48, 0.2); }
    @media only screen and (max-width: 37em) {
      .service__cta {
        width: 50%;
        padding: 2rem 0; } }
    .service__cta:hover {
      transform: scale(1.05); }
    .service__cta-icon {
      width: 2rem;
      height: 2rem; }

.product {
  position: relative;
  padding-bottom: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-bigest);
  background-color: rgba(255, 255, 255, 0.03);
  color: var(#f0ece5);
  font-weight: var(--normal-text-we);
  font-size: var(--small-text-fz);
  transition: background-color 0.2s; }
  @media only screen and (max-width: 37em) {
    .product {
      font-size: var(--big-text-fz); } }
  .product:hover {
    background-color: rgba(255, 255, 255, 0.05); }
  .product__heading {
    font-weight: var(--normal-text-we); }
  .product__img {
    padding: 2.4rem 0 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    @media only screen and (max-width: 37em) {
      .product__img {
        padding: 2.4rem 0 2.4rem; } }
    .product__img img {
      object-fit: cover;
      width: 15rem;
      height: 15rem;
      border-radius: var(--border-radius-bigest); }
      @media only screen and (max-width: 37em) {
        .product__img img {
          object-fit: cover;
          width: 25rem;
          height: 20rem; } }
  .product__text {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 1rem; }
    @media only screen and (max-width: 37em) {
      .product__text {
        width: 100%;
        padding: 0 1.6rem;
        margin-bottom: 3.2rem !important; } }
  .product__pricing {
    display: flex;
    flex-direction: column;
    align-self: end;
    justify-content: end;
    align-items: end;
    gap: 1rem; }
  .product__type {
    position: relative;
    cursor: pointer; }
    @media only screen and (max-width: 37em) {
      .product__type {
        font-size: var(--normal-text-fz); } }
  .product__normal, .product__alt {
    display: block; }
  .product__alt {
    position: absolute;
    opacity: 0;
    display: none; }
  .product__normal {
    display: flex;
    align-items: center;
    gap: 0.2rem; }
    .product__normal-row {
      width: 2rem;
      height: 2rem;
      fill: #ffcc00;
      transform: translateY(10%); }
  .product__cta {
    display: flex;
    width: 80%;
    position: absolute;
    top: 2.4rem;
    left: 50%;
    gap: 0.4rem;
    align-items: center;
    justify-content: center; }
    .product__cta:link, .product__cta:visited {
      transform: translateX(-50%);
      font-size: var(--small-text-fz);
      color: var(--color-white);
      transition: transform 0.2s; }
      .product__cta:link span, .product__cta:visited span {
        display: block;
        position: relative; }
        .product__cta:link span::after, .product__cta:visited span::after {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          transform: translateX(-10%);
          width: 100%;
          height: 2px;
          background-color: #ffcc00;
          opacity: 0;
          transition: all 0.2s; }
    .product__cta:hover span::after, .product__cta:active span::after {
      opacity: 1;
      transform: translateX(0);
      background-color: #ffcc00; }

.products__tab-container {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translateY(-100%) translateX(-50%);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 17vw);
  justify-content: center;
  padding: var(--section-spacing);
  padding-top: 0;
  padding-bottom: 0;
  font-size: var(--smallest-text-fz);
  column-gap: 2.4rem;
  z-index: 50; }
  @media only screen and (max-width: 46.25em) {
    .products__tab-container {
      grid-template-columns: repeat(4, 20vw); } }
  @media only screen and (max-width: 29em) {
    .products__tab-container {
      width: 100%;
      grid-template-columns: 1fr;
      top: 0px;
      font-size: var(--normal-text-fz);
      transform: translateY(-25%) translateX(-50%); } }

.products__tab {
  color: #f0ece5;
  text-transform: uppercase;
  letter-spacing: 1.75px;
  font-weight: var(--normal-text-we);
  padding: 1.6rem;
  transition: all 0.2s;
  border-bottom: 3px solid transparent; }
  @media only screen and (max-width: 37em) {
    .products__tab {
      padding: 2rem 0; } }
  @media only screen and (max-width: 29em) {
    .products__tab {
      font-weight: var(--bold-text-we);
      font-size: var(--normal-text-fz);
      letter-spacing: 2px;
      height: 8rem; } }
  .products__tab:hover {
    transform: translateY(-3px);
    border-bottom: 5px solid #f0ece5; }

.products__content-container {
  position: relative;
  padding: var(--section-spacing);
  padding-top: 6.4rem;
  padding-bottom: 4.8rem;
  border-radius: var(--border-radius-huge);
  border-top-left-radius: 0;
  border-top-right-radius: 0; }
  @media only screen and (max-width: 37em) {
    .products__content-container {
      border-radius: 0; } }

.products__content {
  display: none; }
  .products__content--falso {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    font-size: 10vw; }
  .products__content--1 {
    display: none;
    gap: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 26rem));
    align-content: center;
    justify-content: center; }
    @media only screen and (max-width: 37em) {
      .products__content--1 {
        grid-template-columns: repeat(auto-fit, 85vw); } }

.products__tab.products__tab--active {
  transform: translateY(-3px);
  color: #ffcc00;
  border-bottom: none;
  border-bottom: 5px solid #ffcc00; }
  @media only screen and (max-width: 29em) {
    .products__tab.products__tab--active {
      transform: translateY(0);
      background-color: #454859; } }

.open .products__tab-container {
  background-color: rgba(22, 26, 48, 0.9);
  backdrop-filter: blur(10px); }

.open .products__tab:not(.products__tab--active) {
  opacity: 1;
  pointer-events: initial;
  visibility: visible; }

@media only screen and (max-width: 29em) {
  .products__tab:not(.products__tab--active) {
    opacity: 0;
    pointer-events: none;
    visibility: hidden; } }

@media only screen and (max-width: 29em) {
  .products__tab--active {
    grid-row: 1/ 2; } }

.products__content--active.products__content {
  display: grid; }

.form {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2vh;
  padding: 1rem; }
  @media only screen and (max-width: 46.25em) {
    .form {
      padding: 0; } }
  @media only screen and (max-width: 29em) {
    .form {
      gap: 1rem; } }
  .form__input {
    width: 100%;
    padding: 2.4rem 4.8rem;
    border-radius: var(--border-radius-big);
    background-color: #f0ece5;
    color: #161a30;
    font-family: inherit;
    font-size: var(--normal-text-fz);
    transition: all 0.2s; }
    @media only screen and (max-width: 29em) {
      .form__input {
        padding: 2.4rem 1rem;
        font-size: var(--small-text-fz); } }
    .form__input--subject {
      grid-column: 1 / -1; }
    .form__input:focus {
      background-color: rgba(240, 236, 229, 0.9); }
  .form__btn {
    cursor: pointer; }
    .form__btn--submit {
      background-color: #ffcc00;
      padding: 1.6rem 0;
      width: 100%;
      color: #161a30;
      font-weight: var(--bold-text-we);
      text-transform: uppercase;
      letter-spacing: 1.75px;
      border-radius: var(--border-radius-big);
      font-family: inherit;
      font-size: var(--medium-text-fz);
      transition: all 0.2s;
      grid-column: 1 / -1; }
      .form__btn--submit:hover {
        background-color: #121526;
        color: #ffcc00; }
    .form__btn--reset {
      position: absolute;
      top: -4rem;
      right: 0; }
  .form textarea {
    resize: vertical;
    width: 100%;
    grid-column: 1 / -1; }
  .form__icon {
    width: 3rem;
    height: 3rem;
    fill: #f0ece5; }

.fixed {
  position: fixed;
  right: 2.4rem;
  bottom: 2.4rem;
  z-index: 500;
  box-shadow: 0 1rem 2.4rem rgba(22, 26, 48, 0.5);
  border-radius: 50%; }
  .fixed__link {
    width: 6rem;
    height: 6rem;
    background-color: #ffcc00;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    border: 5px solid xxx;
    justify-content: center; }
  .fixed__icon {
    width: 6rem;
    height: 4rem;
    fill: #161a30;
    color: #161a30; }

.header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  position: fixed;
  background-color: #14172b;
  height: 8rem;
  display: flex;
  justify-content: space-between;
  padding: 1.6rem; }
  .header__first-box {
    display: flex;
    gap: 1.2rem; }
    .header__first-box .link {
      display: flex;
      align-items: center;
      justify-content: center; }
  .header__img {
    height: 4.8rem;
    width: 4.8rem; }
    .header__img--logo {
      height: 8rem;
      width: 8rem; }

.section-hero {
  background-color: #14172b;
  margin-top: 8rem; }

.hero {
  margin: 0 auto;
  height: 100%;
  display: grid;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2.4rem;
  padding-left: 0;
  padding-right: 0;
  width: 90%;
  text-align: center; }
  @media only screen and (max-width: 55em) {
    .hero {
      padding-left: 0;
      padding-right: 0;
      width: 100%; } }
  .hero__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2.4rem;
    gap: 1.6rem;
    text-align: center; }
    @media only screen and (max-width: 37em) {
      .hero__text {
        padding: 0 1rem; } }
    .hero__text p {
      font-size: var(--bigest-text-fz);
      font-weight: var(--tiny-text-we); }
      @media only screen and (max-width: 55em) {
        .hero__text p {
          font-size: var(--bigest-text-fz); } }
      @media only screen and (max-width: 46.25em) {
        .hero__text p {
          font-size: 2rem; } }
  .hero__services {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--section-spacing); }
    .hero__services::after {
      content: '';
      border-radius: var(--border-radius-big); }
      @media only screen and (max-width: 55em) {
        .hero__services::after {
          border-radius: 0; } }
    .hero__services-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--section-spacing);
      background-color: #161a30;
      border-radius: var(--border-radius-big);
      z-index: 5; }
    .hero__services-img-box {
      display: grid;
      width: 100%;
      height: 100%;
      grid-template-columns: repeat(3, minmax(25vw, 1fr));
      grid-template-rows: repeat(auto-fit, 25vw);
      justify-content: center;
      justify-items: center;
      column-gap: 2.4rem;
      padding: 3.2rem 3.2rem 4.8rem;
      border-radius: var(--border-radius-big); }
      @media only screen and (max-width: 46.25em) {
        .hero__services-img-box {
          column-gap: 1.6rem;
          padding: 1.6rem 1.3rem 4.8rem; } }
      @media only screen and (max-width: 37em) {
        .hero__services-img-box {
          row-gap: 3.2rem;
          grid-template-columns: repeat(auto-fit, 45vw);
          grid-template-rows: repeat(auto-fill, 45vw);
          align-content: center;
          padding: 1.6rem 1.3rem 3.2rem; } }
      @media only screen and (max-width: 29em) {
        .hero__services-img-box {
          grid-template-columns: repeat(auto-fit, 90vw);
          padding: 1.6rem 1.3rem 1.6rem; } }
      .hero__services-img-box a {
        background-color: rgba(255, 255, 255, 0.03);
        border-radius: var(--border-radius-big);
        transition: all 0.2s; }
        @media only screen and (max-width: 37em) {
          .hero__services-img-box a:last-child {
            grid-column: 1 / -1; } }
        .hero__services-img-box a:hover {
          background-color: rgba(255, 255, 255, 0.05);
          transform: translateY(-3px); }
          .hero__services-img-box a:hover .hero__services-img-box-img {
            box-shadow: 0 0.6rem 2rem rgba(240, 236, 229, 0.05); }
      .hero__services-img-box-img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        position: relative;
        padding: 2rem;
        border-radius: var(--border-radius-big);
        box-shadow: 0 0.2rem 1rem rgba(240, 236, 229, 0.05);
        transition: box-shadow 0.2s; }
        .hero__services-img-box-img-desc {
          position: absolute;
          background-color: #ffcc00;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 50%);
          font-size: var(--normal-text-fz);
          font-weight: var(--bold-text-we);
          padding: 1rem;
          text-transform: uppercase;
          text-align: center;
          width: 100%;
          pointer-events: none;
          color: #161a30; }
          @media only screen and (min-width: 87.5em) {
            .hero__services-img-box-img-desc {
              font-size: var(--normal-text-fz); } }
          @media only screen and (max-width: 46.25em) {
            .hero__services-img-box-img-desc {
              height: 3.2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 1.8rem; } }
        .hero__services-img-box-img img {
          object-fit: contain;
          width: 100%;
          height: 25vw;
          transition: all 0.2s;
          padding: 2.4rem; }
          @media only screen and (max-width: 37em) {
            .hero__services-img-box-img img {
              height: 45vw; } }
          @media only screen and (max-width: 29em) {
            .hero__services-img-box-img img {
              width: 80vw; } }
  .hero__products {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.4rem; }
    @media only screen and (max-width: 46.25em) {
      .hero__products {
        gap: 1.6rem; } }
    .hero__products::after {
      content: '';
      border-radius: var(--border-radius-big); }
      @media only screen and (max-width: 55em) {
        .hero__products::after {
          border-radius: 0;
          width: 120%; } }
    .hero__products-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: #161a30;
      justify-content: space-between;
      align-content: space-between;
      column-gap: 1.6rem;
      padding: 3.2rem;
      border-radius: var(--border-radius-big);
      z-index: 5; }
      @media only screen and (max-width: 37em) {
        .hero__products-container {
          padding: 1.6rem;
          grid-template-columns: repeat(3, 28vw); } }
    .hero__products-link:link, .hero__products-link:visited {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4vw;
      background-color: rgba(255, 255, 255, 0.03);
      padding: 3.2rem 2.4rem;
      transition: all 0.2s;
      box-shadow: 0 0.2rem 1rem rgba(240, 236, 229, 0.05);
      border-radius: var(--border-radius-big); }
    .hero__products-link:hover, .hero__products-link:active {
      background-color: rgba(255, 255, 255, 0.05);
      transform: translateY(-3px); }
  .hero__cta {
    display: flex;
    width: 100%;
    align-items: center;
    justify-self: center;
    justify-content: center;
    gap: 2.4rem;
    font-size: var(--bigest-text-fz);
    text-align: center; }
    @media only screen and (max-width: 46.25em) {
      .hero__cta {
        font-size: var(--medium-text-fz); } }
    @media only screen and (max-width: 37em) {
      .hero__cta {
        width: 90%; } }
    .hero__cta .link:link, .hero__cta .link:visited {
      display: flex;
      justify-content: center;
      border-radius: var(--border-radius-medium);
      padding: 2.4rem 4.8rem;
      transition: all 0.2s;
      border: 3px solid #f0ece5; }
      @media only screen and (max-width: 37em) {
        .hero__cta .link:link, .hero__cta .link:visited {
          padding: 3.2rem 0;
          width: 100%; } }
    .hero__cta .link:hover, .hero__cta .link:active {
      transform: translateY(-3px); }
    .hero__cta .link--cta:link, .hero__cta .link--cta:visited {
      border: 3px solid #ffcc00;
      color: var(--color-black);
      background-color: var(--color-primary);
      font-weight: var(--bold-text-we); }

.section-services {
  background-color: #1c213b;
  padding: var(--section-spacing);
  padding-top: 9.6rem;
  padding-bottom: 4.8rem; }
  @media only screen and (max-width: 37em) {
    .section-services {
      padding: 6.4rem 0 2.4rem; } }
  .section-services .secondary-heading {
    text-align: center; }

.services-container {
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 6.8rem;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 90rem)); }
  @media only screen and (max-width: 37em) {
    .services-container {
      grid-template-columns: 1fr; } }

.section-products {
  background-color: #14172b;
  padding: 9.6rem 0 4.8rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem; }
  @media only screen and (max-width: 37em) {
    .section-products {
      padding: 6.4rem 0 2.4rem; } }
  .section-products .secondary-heading {
    text-align: center; }

.products {
  position: relative;
  background-color: #161a30;
  border-radius: var(--border-radius-huge);
  padding-top: 0;
  display: flex;
  flex-direction: column;
  gap: 4.8rem; }
  @media only screen and (max-width: 37em) {
    .products {
      border-radius: 0; } }

.section-contact {
  background-color: #1c213b;
  padding: var(--section-spacing);
  padding-top: 9.6rem;
  padding-bottom: 9.6rem; }
  @media only screen and (max-width: 29em) {
    .section-contact {
      padding: 0 1rem;
      padding-bottom: 6.4rem; } }
  .section-contact .secondary-heading {
    align-self: center; }

.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  row-gap: 4.8rem;
  align-items: center;
  align-content: center;
  justify-content: center; }
  @media only screen and (max-width: 29em) {
    .contact {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 4.8rem; } }
  .contact__first-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start; }
    @media only screen and (max-width: 29em) {
      .contact__first-box {
        align-items: center;
        justify-content: center; } }
  .contact__text {
    font-size: var(--normal-text-fz); }
  .contact__list {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 1.6rem;
    list-style: none;
    padding: 0; }
    @media only screen and (max-width: 29em) {
      .contact__list {
        display: grid;
        grid-template-columns: max-content;
        align-items: center;
        justify-content: center; } }
  .contact__item--1 {
    display: flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    color: #161a30;
    font-weight: var(--bold-text-we);
    font-size: var(--normal-text-fz);
    transition: all 0.2s; }
    .contact__item--1:hover {
      transform: translateY(-2px); }
  .contact__item--2 {
    display: flex;
    gap: 1.6rem; }
  .contact__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small-text-fz);
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    transition: border 0.2s; }
    .contact__link:hover {
      border-bottom: 2px solid #ffcc00; }
    .contact__link--cta {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.4rem;
      padding: 1.6rem 3.2rem;
      background-color: #ffcc00;
      border-radius: 100px; }
    .contact__link-icon {
      width: 4rem;
      height: 4rem; }
      .contact__link-icon-cta {
        height: 3rem;
        width: 3rem; }
  .contact__dir {
    font-size: var(--small-text-fz);
    opacity: 80%; }
    @media only screen and (max-width: 29em) {
      .contact__dir {
        font-size: 1.6rem; } }
  .contact__map {
    width: 100%;
    height: 20rem;
    border-radius: var(--border-radius-big); }

.footer {
  background-color: #121526;
  padding: var(--section-spacing);
  padding-top: 4.8rem;
  padding-bottom: 2.4rem; }
  @media only screen and (max-width: 37em) {
    .footer {
      padding-top: 2.4rem; } }
  .footer__container {
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 30vw));
    row-gap: 2.4rem;
    align-content: center;
    justify-items: center;
    justify-content: center; }
    @media only screen and (max-width: 55em) {
      .footer__container {
        grid-template-columns: repeat(2, minmax(min-content, 45vw));
        row-gap: 3.2rem; } }
  .footer__item {
    width: 100%; }
    .footer__item-title {
      font-size: var(--medium-text-fz);
      margin-bottom: 2.4rem;
      font-weight: var(--normal-text-we);
      color: #ffcc00; }
      @media only screen and (max-width: 29em) {
        .footer__item-title {
          font-size: 1.6rem; } }
  .footer__list {
    font-size: var(--small-text-fz);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.6rem; }
    @media only screen and (max-width: 29em) {
      .footer__list {
        font-size: 1.4rem; } }
  .footer__last-item {
    width: 100%;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, minmax(min-content, 30vw));
    align-content: end;
    justify-content: start;
    font-size: var(--small-text-fz); }
    @media only screen and (max-width: 55em) {
      .footer__last-item {
        display: grid; } }
  .footer__logo {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start; }
    @media only screen and (max-width: 55em) {
      .footer__logo {
        width: 45vw; } }
    .footer__logo-text {
      color: #ffe817;
      font-weight: var(--bold-text-we);
      display: block;
      width: 100%; }
    .footer__logo img {
      width: 8rem;
      height: 8rem; }
  .footer__copyright {
    grid-column: 3;
    align-self: end; }
    @media only screen and (max-width: 55em) {
      .footer__copyright {
        width: 45vw;
        display: flex;
        justify-content: start; } }
