/*
-Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 156
*/
///////////////////////////// ((((((((((((((((((
// CSS VARIABLES

:root {
	// COLORS
	--color-black: #161a30;
	--color-white: #f0ece5;
	--row: calc(8vw + 1.6rem);

	--color-primary-darkest: xxx;
	--color-primary-dark: xxx;
	--color-primary: #ffcc00;
	// --color-primary: xxx;
	--color-primary-light: xxx;

	--color-secondary-dark: xxx;
	--color-secondary: xxx;
	--color-secondary-light: xxx;
	--color-secondary-extra-light: xxx;
	--color-secondary-lightest: xxx;

	// LAYOUT
	--layout-color-primary: xxx;
	--layout-color-primary-dark: xxx;
	--layout-color-primary: xxx;
	--layout-color-primary-light: xxx;
	--layout-color-primary-extra-light: xxx;

	--color-grey-dark: x;
	--color-grey-light: x;

	// FILTERS

	// BORDER RADIUS

	--border-radius-small: 3px;
	--border-radius-medium: 5px;
	--border-radius-big: 9px;
	--border-radius-bigest: 15px;
	--border-radius-huge: 20px;

	// FONT SIZES

	--smallest-text-fz: 1.2rem;
	--small-text-fz: 1.8rem;
	--normal-text-fz: 2.2rem;
	--medium-text-fz: 2.6rem;
	--intermedium-text-fz: 3rem;
	--big-text-fz: 3.4rem;
	--bigest-text-fz: 4rem;
	--huge-text-fz: 5.6rem;
	// FONT WEIGHTS

	--tiny-text-we: 300;
	--normal-text-we: normal;
	--bold-text-we: 600;
	--extra-bold-text-we: 800;

	// BOX SHADOWS

	// SPACING

	--section-spacing: 2.4rem;
}

@media only screen and (min-width: 1400px) {
	:root {
		--huge-text-fz: 6.4rem;
	}
}

@media only screen and (min-width: 1700px) {
	:root {
		--huge-text-fz: 8.6rem;
	}
}

@media only screen and (max-width: 1084px) {
	:root {
		--section-spacing: 2rem;
	}
}

@media only screen and (max-width: 740px) {
	:root {
		--section-spacing: 1.6rem;
		--huge-text-fz: 4.8rem;
	}
}

@media only screen and (max-width: 464px) {
	:root {
		--section-spacing: 0;
	}
}

///////////////////////////// ((((((((((((((((((
// SASS VARIABLES

// COLORS
$color-black: #161a30;
$color-white: #f0ece5;

$color-primary-darkest: xxx;
$color-primary-dark: xxx;
$color-primary: #ffcc00;
$color-primary-light: xxx;

$color-secondary-dark: xxx;
$color-secondary: xxx;
$color-secondary-light: xxx;

//SHADES

$shade-light-white: rgba(#fff, 0.03);
$shade-medium-white: rgba(#fff, 0.05);
$shade-large-white: rgba(#fff, 0.09);

// LAYOUT
$layout-color-primary-extra-dark: #121526;
$layout-color-primary-dark: #14172b;
$layout-color-primary: #161a30;
$layout-color-primary-light: #1c213b;
$layout-color-primary-extra-light: #454859;

//////////////////////////////////////////////////////

// DARK MODE

// GREYS
// $color-grey-dark: x;
// $color-grey-light: x;

// LAYOUT

// $layout-color-primary: x;
// $layout-color-primary-light: x;
// $layout-color-primary-extra-light: x;

// COLORS
//////////////////////////////////////////////////////

// FILTERS

// BORDER RADIUS

$border-radius-small: 3px;
$border-radius-medium: 5px;
$border-radius-big: 9px;

// FONT SIZES

$small-text-fz: 1.8rem;
$normal-text-fz: 2.2rem;
$medium-text-fz: 2.6rem;
$intermedium-text-fz: 3rem;
$big-text-fz: 3.4rem;
$bigest-text-fz: 4rem;
$huge-text-fz: 5rem;
// FONT WEIGHTS

$normal-text-we: 300;
$bold-text-we: 400;
$extra-bold-text-we: 700;

// SHADOWS
$shadow-light-small: 0 0.2rem 1rem rgba($color-white, 0.05);
$shadow-medium-small: 0 0.2 1rem rgba($color-white, 0.1);

// BREAKPOINTS

$small-desktop: 1084px;
$small-tablet: 740px;
