.btn {
	display: inline-block;
	border: none;
	cursor: pointer;
	background: none;
}

.products .btn {
	font-weight: 600;
	padding: 2rem 0;
	border-radius: var(--border-s);
}

.products .btn:not(.products__tab--active) {
	background-color: #ffe817;
}

.btn span {
	color: #212529;
}
