.fixed-link {
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	z-index: 50;
	&::before {
		content: '';
		position: absolute;
		height: 6rem;
		width: 6rem;
		background-color: rgba(#fff, 1);
		border-radius: 50%;
		transition: all 0.2s;
		opacity: 1;
		z-index: 5;
	}

	&:hover {
		&::before {
			opacity: 0;
			transform: scale(2);
		}
	}
}

.fixed-link__whatsapp {
	position: relative;
	display: inline-block;
	height: 6rem;
	width: 6rem;
	padding: 1.2rem;
	background-color: #212529;
	border-radius: 50%;
	border: 2px solid var(--color-white);
	z-index: 10;
}

.fixed-link__img {
	width: 100%;
	height: 100%;
}
