.product {
	position: relative;
	padding-bottom: 1.2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: var(--border-radius-bigest);
	background-color: $color-white;
	color: var(--color-black);
	font-weight: var(--normal-text-we);
	font-size: var(--small-text-fz);
	transition: background-color 0.2s;
	cursor: pointer;
	@include respond(phone) {
		font-size: var(--big-text-fz);
	}

	&__heading {
		font-weight: var(--normal-text-we);
	}
	&__img {
		padding: 2.4rem 0 3.2rem;
		display: flex;
		align-items: center;
		justify-content: center;
		@include respond(phone) {
			padding: 2.4rem 0 2.4rem;
		}
		img {
			object-fit: cover;
			width: 15rem;
			height: 15rem;
			border-radius: var(--border-radius-medium);

			@include respond(phone) {
				object-fit: cover;
			}
		}
	}
	&__text {
		width: 100%;
		padding: 0 2rem;
		display: flex;
		justify-content: space-between;
		align-items: start;
		gap: 1rem;

		@include respond(phone) {
			width: 100%;
			padding: 0 1.6rem;
			margin-bottom: 3.2rem !important;
		}
	}

	&__pricing {
		display: flex;
		flex-direction: column;
		align-self: end;
		justify-content: end;
		align-items: end;
		gap: 1rem;
	}

	&__type {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
		position: relative;
		cursor: pointer;
		@include respond(phone) {
			font-size: var(--normal-text-fz);
		}
		z-index: 50;
	}

	&__normal,
	&__alt {
		padding: 0.8rem;
	}
	&__alt {
		background-color: $color-black;
		color: var(--color-white);
		transition: all 0.2s;
	}

	&__normal {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 0.2rem;
		transition: all 0.2s;
		color: var(--color-primary);
		background-color: var(--color-black);

		&:hover {
			background-color: rgba($color-primary, 0.95);
			color: var(--color-black);

			.product__normal-row {
				fill: var(--color-black);
			}
		}

		&-row {
			width: 2rem;
			height: 2rem;
			fill: var(--color-primary);
			transform: translateY(10%);
			transition: all 0.2s;
		}
	}

	&__cta {
		display: flex;
		width: 80%;
		position: absolute;
		top: 2.4rem;
		left: 50%;
		gap: 0.4rem;
		align-items: center;
		justify-content: center;

		@include respond(small-phone) {
			top: 12rem;
		}
		&:link,
		&:visited {
			transform: translateX(-50%);
			font-size: var(--small-text-fz);
			color: var(--color-white);
			transition: transform 0.2s;

			@include respond(phone) {
				font-size: var(--normal-text-fz);
			}

			span {
				display: block;
				position: relative;
				&::after {
					content: '';
					position: absolute;
					bottom: -4px;
					left: 0;
					transform: translateX(-10%);
					width: 100%;
					height: 2px;
					background-color: $color-primary;
					opacity: 0;
					transition: all 0.2s;
				}
			}
		}
		&:hover,
		&:active {
			span {
				&::after {
					opacity: 1;
					transform: translateX(0);
					background-color: $color-primary;
				}
			}
		}
	}
}

// Funcionalidad

.product__alt {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}
.open-product .product__type {
	z-index: 100;
}

.open .product__type {
	opacity: 0;
}

.open-product .product__type {
	background-color: rgba($color-primary, 0.2);

	.product__normal {
		color: var(--color-black);
		&-row {
			transform: rotate(180deg);
			fill: var(--color-black);
		}
		background-color: $shade-large-white;
	}
	.product__alt {
		opacity: 1;
		pointer-events: initial;
		visibility: visible;
		&:hover {
			background-color: var(--color-primary);
			color: var(--color-black);
		}
	}
}
