.slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	height: 100%;
	width: 83rem;

	position: relative;
	box-shadow: 0 0.8rem 2rem rgba($color-layout-light, 0.5);
	background-color: $color-layout-primary;
	border-radius: var(--border-b);

	@include respond(big-table) {
		width: 100%;
	}
	&__gallery {
		position: relative;
		overflow: hidden;
		height: 30rem;
		width: calc(75rem + 3.2rem);
		display: flex;
		align-content: center;
		justify-content: center;
		@include respond(big-table) {
			height: 25rem;
			width: calc(100% - 3.2rem);
		}
		@include respond(medium-table) {
			height: 20rem;
		}

		@include respond(small-phone) {
			height: 13.2rem;
			width: calc(100% - 1.6rem);
		}
	}

	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		background-color: rgba(#fff, 0.5);
		font-family: inherit;
		height: 5.5rem;
		width: 5.5rem;
		cursor: pointer;
		border: none;
		border-radius: 50%;
		transition: all 0.3s;

		@include respond(phone) {
			height: 4rem;
			width: 4rem;
		}

		&:hover {
			background-color: rgba($color-primary, 1);
		}

		&--right {
			right: 0;
			transform: translate(25%, -50%);
			z-index: 10;

			@include respond(small-table) {
				transform: translate(20%, -50%);
			}

			&:hover {
				transform: translate(25%, -50%) scale(1.1);
				@include respond(small-table) {
					transform: translate(20%, -50%) scale(1.1);
				}
			}
		}

		&--left {
			left: 0;
			z-index: 12;
			transform: translate(-25%, -50%);

			@include respond(small-table) {
				transform: translate(-20%, -50%);
			}

			&:hover {
				transform: translate(-25%, -50%) scale(1.1);
				@include respond(table) {
					transform: translate(-20%, -50%) scale(1.1);
				}
			}
		}
	}

	&__icon {
		height: 3.2rem;
		fill: var(--color-layout-primary);
		@include respond(phone) {
			height: 2rem;
			width: 2rem;
		}
	}
}

.slide {
	display: grid;
	grid-template-columns: repeat(3, 25rem);
	gap: 1.6rem;
	position: absolute;
	top: 2.5rem;
	left: 0rem;
	height: 25rem;
	transition: transform 1s;

	@include respond(big-table) {
		grid-template-columns: repeat(3, 20rem);
		height: 20rem;
	}
	@include respond(medium-table) {
		grid-template-columns: repeat(3, 18.2rem);
		height: 15rem;
	}
	@include respond(small-phone) {
		grid-template-columns: repeat(3, 13.2rem);
		height: 10rem;
		gap: 0.8rem;
		top: 1.6rem;
	}

	&__img-box {
		position: relative;
		overflow: hidden;
		border-radius: var(--border-b);

		&:hover {
			.slide__text {
				opacity: 0;
			}

			.slide__img {
				transform: scale(1.2);
			}
		}
	}

	&__img {
		height: 100%;
		width: 100%;
		cursor: pointer;
		transition: all 0.3s 0.1s;
		object-fit: fill;
		object-position: top;
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: var(--color-white);
		font-size: var(--font-size-sst);
		font-weight: 600;
		letter-spacing: 1px;
		text-transform: uppercase;
		padding: 1.6rem 0;
		text-align: center;
		background-color: rgba(33, 37, 41, 0.5);
		width: 100%;
		transition: opacity 0.3s;
		@include respond(small-phone) {
			font-size: 1rem;
			letter-spacing: 0.5px;
		}
	}
}
