.footer {
	background-color: $layout-color-primary-extra-dark;
	padding: var(--section-spacing);
	padding-top: 4.8rem;
	padding-bottom: 2.4rem;
	@include respond(phone) {
		padding-top: 2.4rem;
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(3, minmax(min-content, 30vw));
		row-gap: 2.4rem;

		align-content: center;
		justify-items: center;
		justify-content: center;
		@include respond(tablet) {
			grid-template-columns: repeat(2, minmax(min-content, 45vw));
			text-align: center;
			row-gap: 3.2rem;
		}
	}

	&__item {
		width: 100%;
		&-title {
			font-size: var(--medium-text-fz);
			margin-bottom: 2.4rem;
			font-weight: var(--normal-text-we);
			color: $color-primary;
		}
	}

	&__list {
		font-size: var(--normal-text-fz);
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 1.6rem;

		@include respond(tablet) {
			justify-content: center;
			align-items: center;
		}
		&-item {
		}

		&-link {
		}
	}
}
