.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.6rem 2.4rem;
	height: 10rem;
	background-color: #212529;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}
