.header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
	position: fixed;
	background-color: #14172b;
	height: 8rem;
	display: flex;
	justify-content: space-between;
	padding: 1.6rem;

	&__first-box {
		display: flex;
		gap: 1.2rem;

		.link {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	&__img {
		height: 4.8rem;
		width: 4.8rem;
		&--logo {
			height: 8rem;
			width: 8rem;
		}
	}
}
