.section-hero {
	background-color: $layout-color-primary-dark;
	margin-top: 8rem;
	@include respond(small-tablet) {
	}
}

.hero {
	position: relative;
	margin: 0 auto;
	padding: 2.4rem;
	width: 100%;
	display: grid;
	grid-template-rows: min-content min-content;
	justify-content: center;
	justify-items: center;
	row-gap: 3.2rem;

	&__text {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.6rem;
		text-align: center;
		grid-column: content-start / content-end;

		p {
			font-size: var(--bigest-text-fz);
			font-weight: var(--tiny-text-we);
			@include respond(tablet) {
				font-size: var(--bigest-text-fz);
			}
			@include respond(small-tablet) {
				font-size: 2.4rem;
			}
		}
	}

	&__services {
		grid-column: secondary-content-start / content-end;
		display: grid;
		grid-template-columns: repeat(3, minmax(22rem, 30rem));
		width: 100%;
		justify-content: center;
		column-gap: 2.4rem;
		row-gap: 2.4rem;
		padding-bottom: 6.4rem;

		@include respond(phone) {
			grid-template-columns: 80%;
		}

		a {
			text-decoration: none;
		}

		&-first-box {
			display: flex;
		}
		&-second-box {
		}
		&-item {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			background-color: $color-white;
			padding: 1.6rem 2.4rem 1.6rem 1.6rem;
			color: $layout-color-primary;
			border-radius: var(--border-radius-big);
			cursor: pointer;
			transition: all 0.2s;
			&:hover {
				background-color: $color-primary;
			}

			&-img {
				width: 6.4rem;
				height: 6.4rem;
				background-color: $layout-color-primary;
				border-radius: 50%;
				padding: 1rem;
			}
			&-title {
				font-size: var(--normal-text-fz);
			}
			&-desc {
				font-size: var(--small-text-fz);
				font-weight: var(--bold-text-we);
			}
		}

		&-img {
		}
	}

	&__cta {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 50%);
		display: flex;
		align-items: center;
		justify-content: center;
		animation: dblRowDown 1s infinite;

		&-link {
			display: inline-block;
			width: 8rem;
			height: 8em;
		}
		&-icon {
			padding: 1rem;
			width: 8rem;
			height: 8em;
			fill: $layout-color-primary;
			background-color: $color-primary;
			border-radius: 50%;
		}
	}
}
