.hero {
	max-width: 120rem;
	margin: 0 auto;
	grid-template-rows: min-content repeat(3, min-content) min-content;
	position: relative;
	display: flex;
	flex-direction: column;

	p:first-child {
		margin-bottom: 1.6rem;
		@include respond(phone) {
			margin-bottom: 15.6rem !important;
		}
	}
	&__text {
		background-color: var(--color-primary);
		transform: skew(-20deg);
		width: 85%;
		text-align: center;
		margin: 0 auto;
		position: relative;
		@include respond(phone) {
			width: calc(100% + 3.2rem);
			transform: skew(0);
			position: absolute;
			top: 3.2rem;
			left: 50%;
			transform: translateX(-50%);
		}
		&::before {
			content: '\201C';
			font-size: 15rem;
			font-family: sans-serif;
			position: absolute;
			top: -2rem;
			left: -5rem;

			@include respond(phone) {
				display: none;
			}
		}

		&::after {
			content: '\201C';
			font-size: 15rem;
			font-family: sans-serif;
			position: absolute;
			top: -2rem;
			right: -5rem;
			transform: rotateY(180deg);
			@include respond(phone) {
				display: none;
			}
		}

		h1 {
			padding: 1rem;
			transform: skew(20deg);
			@include respond(phone) {
				transform: skew(0);
				padding: 1rem;
			}
		}
	}

	.heading-tertiary {
		margin-bottom: 3.2rem;
		grid-column: 1 / -1;
		padding-bottom: 7px;
		box-shadow: $shadow-light;
	}

	&__products {
		&-container {
			display: grid;
			width: 100%;
			grid-template-columns: repeat(auto-fit, minmax(25rem, min-content));
			column-gap: 1.6rem;
			row-gap: 3.2rem;
			justify-content: space-evenly;

			@media only screen and (max-width: 27.375em) {
				grid-template-columns: repeat(auto-fit, minmax(25rem, max-content));
				justify-content: center;
			}
		}

		&-product {
			position: relative;
			overflow: hidden;
			max-height: 15rem;
			max-width: 30rem;
			transition: all 0.3s 0.1s;

			&:hover {
				& .hero__products-img {
					opacity: 1;
					transform: scale(1.2);
				}
				& .hero__products-img-desc {
					opacity: 0;
				}
			}
		}
		&-link {
			width: 100%;
			height: 100%;
		}

		&-img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			border-radius: var(--border-m);
			opacity: 0.8;
			transition: all 0.3s 0.1s;
		}
		&-img-desc {
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			padding: 1.6rem 0;
			text-align: center;
			background-color: rgba(33, 37, 41, 0.5);
			transition: opacity 0.3s;
		}
	}

	&__services {
		&-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 1.6rem;
			justify-content: start;

			@include respond(big-table) {
				grid-template-columns: repeat(2, 1fr);
			}
		}

		&-service {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;
			cursor: pointer;
			transition: all 0.2s;
			border-radius: var(--border-b);
			padding: 1.6rem;
			align-items: center;
			text-align: center;
			background-color: rgba(#fff, 0.05);

			@include respond(big-table) {
				&:last-child {
					grid-column: 1 / -1;
				}
			}
			&:hover {
				background-color: rgba(#fff, 0.1);
			}
		}

		&-icon {
			height: 8rem;
			width: 8rem;
			border-radius: 50%;
			padding: 1rem;
			fill: var(--color-layout-primary);
			background-color: var(--color-primary);
		}
	}

	&__cta {
		display: inline-block;
		align-self: center;
		justify-self: center;
		padding: 1.6rem;
		background-color: #ffe817;
		border-radius: var(--border-s);
	}
}
