.products {
	&__content {
		padding: 1.6rem 4.8rem;
		display: none;
		background-color: #212529;
		border-radius: var(--border-m);
		&--active {
			display: block;
		}
	}

	.products__cta {
		padding-bottom: 1.6rem;
	}
}

.products__cta {
	display: flex;
	&-icon {
		width: 2.5rem;
		height: 2.5rem;
		fill: var(--color-primary);
	}
}
