.section-services {
	background-color: rgba($color-black, 0.9);
	padding: var(--section-spacing);
	padding-top: 9.6rem;
	display: flex;
	gap: 6.4rem;
	flex-direction: column;

	.secondary-heading {
		align-self: start;
		grid-column: 1 / -1;
	}
}

.services-container {
	width: 100%;
	display: grid;
	align-items: center;
	justify-items: center;
	justify-content: center;
	gap: 6.8rem;
	grid-template-columns: repeat(auto-fill, minmax(70rem, 90rem));
}
